
#map {
  width: 100%;
  height: 100%;
}

html{
  height: 100%;
} 

.mapNavbar{
  position: absolute;
  z-index: 3;
}
.mapItem{
  background-color: white;
  border: 1px green solid;
  border-radius: 10px;
  margin: 8px;
  padding: 3px;
  font-size: large;   
}

.mapItem:hover{
  background-color: green;
}

.mapCategory {
  background-color: grey;
  width: 20%;
  
  position: absolute;
  z-index: 3;
}
.mainBoard{
  height: 100%;
}