* {
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans KR", sans-serif;
/*     font-weight: ; */
    font-style: normal;
}
.navbar {
    text-align: center;
    /* padding: 0px 5%; */
}

.navbarBox {
    padding: 0 13%;
}

.navbarContent {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    /* margin: 0px 42.375px; */
    /* background-color: #61dafb; */
}

.navbarLogo {
    margin-left: 3%;
    border: 3px solid;
}

.navbarList {
    list-style: none;
    /* display: block; */
    margin: 0;
    padding: 0 0 0 20%;
    /* justify-content: space-between;  */

}

.navbarList a {
    display: inline-block;
    padding: 0px, 50px;
    white-space: nowrap;
    font-weight: bold;
    /* padding: 0% 40%; */
    /* border: 3px solid; */
    /* text-align: center; */
    /* padding: 0% 20%; */
    border-radius: 8px;
    /* background-color: #0056b3;  */
    /* color: #e0e0e0; */
    border-radius: 16px;
}
.navbarItem:hover  {
    color: #9F9FA2;
}