* {
    padding: 0;
    margin: 0;
}
.navbar {
    text-align: center;
    /* padding: 0px 5%; */
}

.navbarBox {
    padding: 0 13%;
}

.navbarContent {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    /* margin: 0px 42.375px; */
    /* background-color: #61dafb; */
}

.navbarLogo {
    margin-left: 3%;
    border: 3px solid;
}

.navbarList {
    list-style: none;
    /* display: block; */
    margin: 0%;
    padding: 0%;
    padding-left: 20%;
    /* justify-content: space-between;  */


}


.navbarList li {
    display: inline-block;
    padding: 50px 50px;
    white-space : nowrap; 
    /* padding: 0% 40%; */
    /* border: 3px solid; */
    /* text-align: center; */
    /* padding: 0% 20%; */
}
