* {
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans KR", sans-serif;
/*     font-weight: ; */
    font-style: normal;
}
.navbar {
    text-align: center;
    /* padding: 0px 5%; */
}

.navbarBox {
    padding: 0 13%;
}

.navbarContent {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    /* margin: 0px 42.375px; */
    /* background-color: #61dafb; */
}

.navbarLogo {
    margin-left: 3%;
    /* border: 3px solid; */
}

.navbarList {
    list-style: none;
    /* display: block; */
    margin: 0;
    padding: 0 0 0 20%;
    /* justify-content: space-between;  */

}

.navbarList a {
    display: inline-block;
    padding: 0px, 50px;
    white-space: nowrap;
    font-weight: bold;
    /* padding: 0% 40%; */
    /* border: 3px solid; */
    /* text-align: center; */
    /* padding: 0% 20%; */
    border-radius: 8px;
    /* background-color: #0056b3;  */
    /* color: #e0e0e0; */
    border-radius: 16px;
    overflow: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: color .4s;
    transition: color .4s
}

.navbarList a:hover {
    -webkit-animation-name: nav-move;
    animation-name: nav-move;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}
.navbarLogo img {
    width: 200px;

}
@keyframes nav-move {
    30% {
    -webkit-transform: translate3d(0, -5px, 0) rotate(5deg);
    transform: translate3d(0, -5px, 0) rotate(5deg)
    }
    50% {
    -webkit-transform: translate3d(0, -3px, 0) rotate(-4deg);
    transform: translate3d(0, -3px, 0) rotate(-4deg)
    }
    80% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-3deg);
    transform: translate3d(0, 0, 0) rotate(-3deg)
    }
    100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
    }
}