*{
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #FEF5E3;
}

html, body, #root {
  height: 100%;
}

.App {
  height: 100%;
  position: relative;
}

.navbar {
  text-align: center;
  /* padding: 0px 5%; */
}

.navbarBox {
  padding: 0px 13%;
}

.navbarContent {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  /* margin: 0px 42.375px; */
  /* background-color: #61dafb; */
}

.navbarList {
  list-style: none;
  display: flex;
  margin-right: 50%;
}

.navbarList li {
  margin: 0% 20%;
  /* padding: 0% 20%; */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
